{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="login-container">
    <h2 class="login__titulo">Recuperar Senha</h2>
    <p class="login__descricao">
        Insira seu e-mail para receber o link de redefinição.
    </p>

    <form method="POST" class="login__form">
        {% csrf_token %}
        
        <div class="login__campo">
            <label for="id_email">Endereço de email:</label>
            <input type="email" name="email" autocomplete="email" required id="id_email" class="login__input">
        </div>

        <button type="submit" class="login__botao">Enviar Link</button>
    </form>
    
    <p class="login__footer-text">
        <a href="{% url 'login' %}" class="link-autenticacao">← Voltar para o Login</a>
    </p>
</div>
{% endblock %}